<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XY.architecture.viper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B4BF9D21F039131008D9A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4BF9E61F039131008D9A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4BF9F11F039131008D9A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
